.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
};

.error {
  color: var(--error);
  font-size: 0.6rem;    
}

.label {
  display: flex;
  gap: 0.25rem;
}
