:root {
  --primary: rgb(35, 174, 180);
  --label: rgb(135, 135, 135);
  --error: rgb(203, 55, 55);
  --grey-300: rgb(51, 51, 51);
  --grey-600: rgb(102, 102, 102);
  --grey-100: rgb(221, 221, 221);
  --paper-bg: rgb(249, 249, 249);
}
