@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/Quicksand-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Quicksand-Regular.ttf");
  font-display: swap;
}