.button {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 150ms ease-out, opacity 150ms ease-out;
  cursor: pointer;

  &:disabled {
    background-color: var(--grey-600);
    cursor: default;
  }

  &:hover {
    opacity: 0.5;
  }
}
