.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  &:hover {
    cursor: pointer;
  }
};

.hidden {
  display: none;
}

.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  color: var(--primary);
  transition: border 150ms ease-in;

  &.active {
    border: 1px solid var(--primary);
  }
}

.motion {
  opacity: 0;
  width: 16px;
  height: 16px;
}
