.container {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.active {
  color: var(--primary);
}

.checkbox {
  display: none;
}

.motion {
  width: min-content;
}
